extends layout

block content
    each dynacard in dynacards
        section(class=dynacard.name)
            h2 #{dynacard.name}.csv
            p #{dynacard.cardtype.name}
            img(src='/processed/' + dynacard.name + '.png', alt=dynacard.name)
    else
        p No Dynacards to Display!
