doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      header
        h1 Dynacard Analysis
      div
        aside
          div
            form(method='POST', action='/catalog/upload' enctype='multipart/form-data')
              div.form-group
                label(for='upload_files') Upload dynacard files:
                input#upload_files.form-control(type='file' multiple name='fileupload')
              button.btn.btn-primary(type='submit') Upload
          div
            form(method='POST', action='/catalog/filter')
              div.form-group
                label(for='filter_results') Enter search term:
                input#filter_results.form-control(type='text' placeholder='full pump')
              button.btn.btn-primary(type='submit') Filter results
          div
            form(method='POST' action='/catalog/run')
              button.btn.btn-primary(type='submit') Run Analysis
        main
          block content

      footer
        p what is in the footer
   
