doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js")
    //script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    
    script(src='/javascripts/scripts.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      header
        h1 Dynacard Analysis
      div
        aside
          div
            form(method='POST', action='/catalog/upload' enctype='multipart/form-data')
              div.form-group
                label(for='upload_files') Upload Card Files:
                input#upload_files.form-control(type='file' multiple name='fileupload' style='display:block;')
              button.btn.btn-primary(type='submit') Upload
          div
            form(method='POST' action='/catalog/category' id='category-form')
              div.form-group
                label(for='category') Choose A Pump State Category:
                select#category(name="category")
                  option(value='0') All
              button.btn.btn-primary(type='submit' id='category-button' visible='false' height='0px')
          div
            form(method='POST', action='/catalog/filter')
              div.form-group
                label(for='filter_results') Enter Search Term:
                input#filter_results.form-control(type='text' placeholder='full pump')
              button.btn.btn-primary(type='submit') Filter Search Results
          div
            form(method='POST' action='/catalog/run')
              button.btn.btn-primary(type='submit' id='run-button' ) Run Analysis
              //button(type='submit' disabled='true' id='run-button') Run Analysis
              //button(type='submit' display='collapse' id='run-button') Run Analysis
        main
          block content
      footer
        p what is in the footer
      
      script.
        $(document).ready(function () {
          var options = {
            beforeSubmit: showRequest, // pre-sumbit callback
            success: showResponse // post-submit callback
          };
          // bind to the form's submit event
          $('#frmUploader').submit(function () {
            $(this).ajaxSubmit(options);
            // aways return false to prevent standard browser submit and page navigation
            return false;
          });
        });

        // pre-submit function callback
        function showRequest(formData, jgForm, options) {
          alert('Uploading is starting.');
          return true;
        }
        // post-submit callback
        function showResponse(responseText, statusText, xhr, $form) {
          //alert('status: ' + statusText + '\n\nresponseText: \n' + responseText);
        }
        function createObjectURL(blob) {
          return URL.createObjectURL(blob);
        }
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
      script(src='/javascripts/layout.js')

      block customscript

