/* General */

html {
  font-family: Georgia, serif;
  font-size: 16px;
}

body {
  /*width: 800px;*/
  width: 100%;
  margin: 0 auto;
}

/* Typography */
h1, h2 {
  font-family: 'Cherry Swash', serif;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 2rem;
  /*background: url(icons/bean_can.png) no-repeat 20% center, url(icons/bean_can.png) no-repeat 80% center;*/
  background-size: 48px 48px;
}

h2 {
  font-size: 1.5rem;
  /*color: yellow;*/
  text-align: right;
  width: 160px;
  position: absolute;
  right: 4%;
  z-index: 3000;
  /*text-shadow: 2px 2px 1px black;*/
  line-height: 2rem;
  padding-top: 0.3rem;
}

p, label, input, select, button, li {
  font-size: 1.0rem;
}

li {
  line-height: 1.5;
}

/* block styling */

header, aside, main, footer {
  padding: 20px;
}

header {
  border-bottom: 1px solid black;
  border-bottom: 1;
}

aside {
  border-right: 1px solid black;
}

body > div {
  /*border: 5px solid black;*/
  display: flex;
}

footer {
  border-top: 1px solid black;
  border-top: 1;
}

aside {
  flex: 2;
}

main {
  flex: 8;
}

/* Form styling */

aside {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

aside div {
  margin-bottom: 20px;
}

/*
label, select, input {
  display: block;
}
*/
label {
  margin-bottom: 5px;
}

select, input, button {
  width: 100%;
}

input {
  background: black;
  /*box-shadow: inset 1px 1px 1px white;*/
  color: yellow;
  border: none;
  padding: 5px;
}

#run-button {
  cursor: none;
  visibility: collapse;
}

button.btn.btn-primary {
  font-size: 1rem;
  background: black;
  color: yellow;
  padding: 5px 0;
  border: none;
  border-radius: 10px;
  box-shadow: inset 1px 1px 2px white, inset -1px -1px 2px #ccc;
}

#category-button {
  cursor: none;
  visibility: collapse;
}
/* Styling the products */

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

section {
  width: 300px;
  margin: 5px;
  /*background-color: black;*/
  position: relative;
  height: 300px;
}

section input[type="checkbox"] {
  /*font-size: 2rem;*/
  /*width: 160px;*/
  position: absolute;
  left: 35px;
  top: 5px;
  z-index: 3000;
}
section h2 {
  position: absolute;
  right: 35px;
  line-height: 0.5rem;
}

section img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  bottom: 0px;
}

section p {
  font-size: 0.8rem;
  color: yellow;
  background: black;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  /*box-shadow: 2px 2px 1px yellow;*/
  position: absolute;
  right: 15px;
  bottom: 5px;
  z-index: 2000;
}

/*
.vegetables {
  background: black url(icons/vegetable.png) no-repeat 2px 2px;
  background-size: 24px 24px;
}

.meat {
  background: black url(icons/meat.png) no-repeat 2px 2px;
  background-size: 24px 24px;
}

.soup {
  background: black url(icons/soup.png) no-repeat 2px 2px;
  background-size: 24px 24px;
}
*/